{% extends "base.html" %}

{% block title %}PFP | Pinball for the People{% endblock %}


{% block content %}
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container col-md-12">
      <div class="col-md-6 jumbotron-text">
        <h1>Pinball for the People</h1>
        <hr>
        <p class="motto">PFP is a pinball club that takes 
        pinball back where it belongs,
        on the streets.</p>
        <ul class="blurb">
          <li>It’s about going location to location,</li>
          <li>It’s about playing all day until your feet hurt,</li>
          <li>It’s about plunging balls and juicing friends,</li>
          <li>It’s about playing pinball for pinball, not for points.</li>
        </ul>
      </div>
    </div>
    <div class="jumbotron-img">
      <img src="{{ STATIC_URL }}images/logo-big.png">
    </div>
  </div>

  <div class="container content contentFirst">
    <div class="col-sm-6">
      <h2>A bunch of stuff</h2>
      <hr>
      <p>Uh, look me up when you get there. Listen, this is very important, I forgot my video camera, could you stop by my place and pick it up on your way to the mall? Well, I figured, what the hell. Please note that Einstein's clock is in complete synchronization with my control watch. Okay, alright, Saturday is good, Saturday's good, I could spend a week in 1955. I could hang out, you could show me around.</p>

      <p>Good morning, Mom. Oh, Marty, I almost forgot, Jennifer Parker called. Okay. Well, I figured, what the hell. Look, there's a rhythmic ceremonial ritual coming up. David, watch your mouth. You come here and kiss your mother before you go, come here.</p>

      <p>My god, it's my mother. Put your pants back on. Doc. We all make mistakes in life, children We never would have fallen in love. He's a very strange young man.</p>
    </div>
  </div> <!-- /container -->
  <div class="container content">
    <div class="col-sm-12">
      <h2>More Stuff</h2>
      <hr>
      <p>Uh, look me up when you get there. Listen, this is very important, I forgot my video camera, could you stop by my place and pick it up on your way to the mall? Well, I figured, what the hell. Please note that Einstein's clock is in complete synchronization with my control watch. Okay, alright, Saturday is good, Saturday's good, I could spend a week in 1955. I could hang out, you could show me around.</p>

      <p>Good morning, Mom. Oh, Marty, I almost forgot, Jennifer Parker called. Okay. Well, I figured, what the hell. Look, there's a rhythmic ceremonial ritual coming up. David, watch your mouth. You come here and kiss your mother before you go, come here.</p>

      <p>My god, it's my mother. Put your pants back on. Doc. We all make mistakes in life, children We never would have fallen in love. He's a very strange young man.</p>
    </div>
  </div> <!-- /container -->
{% endblock %}